In [1]:
import pdfplumber
import pandas as pd
from PIL import Image

In [5]:
pdf=pdfplumber.open(r"C:\Users\pavan\OneDrive\Desktop\table1.pdf")
#load page_0
p=pdf.pages[0]

In [6]:
table=p.extract_table()
df=pd.DataFrame(table[1:],columns=table[0])

In [7]:
df

  Number of Coils Number of Paperclips
0               5              3, 5, 4
1              10              7, 8, 6
2              15           11, 10, 12
3              20           15, 13, 14